.tag {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    padding: 10px;
}

.app_wrapper {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.toolbar {
    width: 100%;
}

.cards_wrapper {
    width: 100%;
}
